<nav class="navbar navbar-expand-lg navbar-dark bg-dark"> {# navbar-expand-lg: expande el menú en pantallas "grandes" y superiores #}
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Mi App Vehículos</a>
        
        {# Botón para pantallas pequeñas (toggler) #}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        {# Contenedor de los elementos que se colapsan/expanden #}
        <div class="collapse navbar-collapse" id="navbarNav">
            {# Elementos de navegación principales (se alinearán a la izquierda por defecto) #}
            <ul class="navbar-nav me-auto mb-2 mb-lg-0"> {# 'me-auto' empuja los siguientes elementos a la derecha #}
                <li class="nav-item">
                    <a class="nav-link {% if request.url.path == '/' %}active{% endif %}" aria-current="page" href="/">Inicio</a>
                </li>
                {# Aquí puedes añadir más links de navegación si los tienes #}
                <li class="nav-item">
                    <a class="nav-link {% if request.url.path == '/acerca-de' %}active{% endif %}" href="/acerca-de">Acerca De</a>
                </li>
            </ul>

            {# Botones "Ver Vehículos Registrados" y "Consultar Precios de Combustible" #}
            {# 'd-flex' para que se comporten como flexbox y 'flex-column flex-lg-row' para que se apilen en mobile y estén en fila en desktop #}
            {# 'ms-lg-auto' para empujar estos botones a la derecha en pantallas grandes #}
            <div class="d-flex flex-column flex-lg-row ms-lg-auto"> 
                <a class="btn btn-outline-light mb-2 mb-lg-0 me-lg-2" href="/vehiculos">Ver Vehículos</a>
                <a class="btn btn-outline-light" href="/combustibles">Precios Combustible</a>
            </div>
        </div>
    </div>
</nav>