{% extends "base.html" %}

{% block title %}Listado de Combustible{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center mb-4"> 
        <h1 class="mb-0">Listado de Combustible</h1> 
        <a href="/combustible/historial-eliminados" class="btn btn-secondary custom-hover-effect">
        <i class="bi bi-archive-fill me-2"></i> Ver Historial Eliminados
    </a>
    </div>
    {% if precios_combustible %}
        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered align-middle table-sm"> 
                <thead class="table-dark"> 
                    <tr>
                        <th scope="col">#</th> 
                        <th scope="col">Ciudad</th>
                        <th scope="col">Localidad</th>
                        <th scope="col">Tipo de Combustible</th>
                        <th scope="col">Precio por galones</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for combustible in precios_combustible %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th> 
                        <td>{{ combustible.ciudad }}</td>
                        <td>{{ combustible.localidad }}</td>
                        <td>{{ combustible.tipo_combustible.value }}</td> 
                        <td>{{combustible.precio_por_galon}}</td> 
                        <td>
                            <div class="d-flex"> 
                                <a href="/combustibles/edit/{{ combustible.id }}" class="btn btn-info btn-sm custom-hover-effect">
                                    <i class="bi bi-pencil-square me-1"></i> Editar
                                </a>
                                <form action="/combustible/eliminar/{{ combustible.id }}" method="post" onsubmit="return confirm('¿Estás seguro de que quieres eliminar este vehículo?');"
                                    class="d-inline-block p-0 m-0 border-0 bg-transparent"> 
                                    <button type="submit" class="btn btn-danger btn-sm custom-hover-effect">
                                        <i class="bi bi-trash-fill me-1"></i> Eliminar
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="alert alert-warning" role="alert"> {# Cambiado a alert-warning para consistencia #}
            No hay precios de combustible registrados aún.
        </div>
    {% endif %}
        <a href="/" class="btn btn-primary custom-hover-effect">
            <i class="bi bi-arrow-left-circle-fill me-2"></i> Volver a Inicio
        </a>
{% endblock %}