{% extends "base.html" %}

{% block title %}Inicio - Mi App de Vehículos y Combustibles{% endblock %}

{% block content %}
<div class="container mt-5 text-center">
    <h1 class="mb-4 text-primary">Bienvenido a Mi App de Vehículos y Combustibles</h1>
    <p class="lead">Explora nuestras funciones para gestionar vehículos y precios de combustible.</p>

    <div class="cards-container">
        <a href="/vehiculos" class="info-card">
            <img src="{{ url_for('static', path='img/vehiculo.png') }}" alt="Gestión de Vehículos">
            <div class="info-card-overlay">
                <h3>Gestión de Vehículos</h3>
                <p>Administra tu flota de vehículos: añade nuevos, edita o elimina los existentes.</p>
            </div>
        </a>

        <a href="/combustibles" class="info-card">
            <img src="{{ url_for('static', path='img/combustible.png') }}" alt="Gestión de Combustible">
            <div class="info-card-overlay">
                <h3>Precios de Combustible</h3>
                <p>Registra y consulta los precios de los combustibles en diferentes ciudades y localidades.</p>
            </div>
        </a>

        <a href="/buscar_costo_tanqueo" class="info-card">
            <img src="{{ url_for('static', path='img/busqueda.png') }}" alt="Búsqueda de Costo de Tanqueo">
            <div class="info-card-overlay">
                <h3>Cálculo de Costo de Tanqueo</h3>
                <p>Encuentra el costo estimado para llenar el tanque de tus vehículos.</p>
            </div>
        </a>

        </div>

</div>
{% endblock %}