{% extends "base.html" %}

{% block title %}Inicio - Mi App de Vehículos y Combustibles{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="jumbotron text-center bg-light p-5 rounded shadow-sm">
        <h1 class="display-4 text-primary mb-4">Bienvenido a la Plataforma de Vehículos y Combustibles</h1>
        <p class="lead">Explora, gestiona y visualiza información clave sobre tus vehículos de combustión y los precios de combustible.</p>
        <hr class="my-4">
        <p>Nuestra aplicación te permite mantener un registro detallado de tus automóviles, así como acceder a los precios más recientes de los diferentes tipos de combustible en tu zona.</p>
        
        
        <div class="mt-4">
             <a class="btn btn-success btn-lg" href="/vehiculos/crear" role="button">¡Registra un Nuevo Vehículo Ahora!</a>
        </div>
       
    </div>

   
    <h2 class="text-center mt-5 mb-4 text-primary">Conoce Más Sobre Nuestro Mundo</h2>
    <div class="cards-container"> {# Esta es la clase CSS que hace el display: flex #}
        <a href="/vehiculos" class="info-card">
            <img src="{{ url_for('statics', path='img/vehiculo.png') }}" alt="Vehículos de Combustión">
            <div class="info-card-overlay">
                <h3><i class="bi bi-car me-2"></i>Vehículos de Combustión</h3>
                <p>Los vehículos de combustión interna han sido la columna vertebral del transporte global. En esta plataforma, podrás registrar sus especificaciones para un control preciso de tus activos automotrices.</p>
                
            </div>
        </a>

        <a href="/combustibles" class="info-card">
            <img src="{{ url_for('statics', path='img/combustible.png') }}" alt="Tipos de Combustible">
            <div class="info-card-overlay">
                <h3><i class="bi bi-fuel-pump me-2"></i>Tipos de Combustible</h3>
                <p>Gasolina y diésel son esenciales. Nuestra sección te proporcionará información actualizada sobre los costos por galón en diferentes ciudades y localidades, ayudándote a optimizar tus gastos.</p>
            </div>
        </a>

        <a href="/buscar_costo_tanqueo" class="info-card">
            <img src="{{ url_for('statics', path='img/busqueda.png') }}" alt="Búsqueda de Costo de Tanqueo">
            <div class="info-card-overlay">
                <h3><i class="bi bi-calculator me-2"></i>Costo de Tanqueo</h3>
                <p>Estima fácilmente cuánto te costará llenar el tanque de tus vehículos. Solo ingresa la marca, modelo y tipo de combustible para obtener un cálculo preciso.</p>
            </div>
        </a>
    </div>

    

</div>
{% endblock %}